.hero-watch-bg {
  position: relative;
  background-image: url("../../../public/assets/watch-fog.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

.hero-watch-bg::before {
  content: "";
  position: absolute;
  top: -10%;
  right: 0%;
  width: 100%;
  height: 100%;
  scale: 1.5;
  background-image: url("../../../public/assets/hero-watch.png");
  /* background-size: contain; */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  filter: grayscale();
}

.hero-watch-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-image: url("../../../public/assets/rings.svg");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.68;
  z-index: 1;
}
